@charset "utf-8";

a:link, a:visited, a:hover, a:active{
text-decoration:none;}

.sidearea{
padding:5px;
width:219px;
}
.sidebararea{
margin-top:5px;
width:219px;
line-height:18px;
}
.sidebarbg{
border-top:#4d81b1 1px solid;
border-left:#4d81b1 1px solid;
border-right:#4d81b1 1px solid;
padding-top:1px;
padding-left:1px;
padding-right:1px;
background:#eeeeee;
height:200px;
}
.sidebararea .title{
background:url(../screenFiles/bg_title_001.gif) left top no-repeat;
}

.mainarea{
/*remove margin-top for new style by LiuFang(2010-7-20)*/
/*margin-top:5px;*/
width:786px;
border-left:#4d81b1 1px solid;
border-top:#4d81b1 1px solid;
border-right:#4d81b1 1px solid;
padding:1px;
background-color:#eeeeee;
height:565px;
}

.header{
background:url(../screenFiles/bg_title_001.gif) left top no-repeat;
padding:5px 5px 5px 15px;
}

.mainscreen{
height:525px;
padding:8px 9px 0 9px;

}
.systemmenu{
height:512px;
font-weight:bold;/*add it for new style by LiuFang(2010-7-20)*/
}
.sideextrainfo{
height:200px;
font-weight:bold;/*add it for new style by LiuFang(2010-7-20)*/
}
.sidefunction{
height:140px;
font-weight:bold;/*add it for new style by LiuFang(2010-7-20)*/
}
.sidemessage{
height:120px;
}
.mastermenu{
width:160px;
background:#4d81b1;
padding:10px 10px 0 10px;
word-wrap: break-word;
font-weight:bold;/*add it for new style by LiuFang(2010-7-20)*/
}
.sidebar{
margin-left:30px;
margin-top:5px;
padding:0;
width:180px;
word-wrap: break-word;
/*line-height:18px;
*/}
.sidebar a:link, .sidebar a:visited, .sidebar a:active{
color:#4d81b1;}
.sidebar a:hover{
color:#434343;
}
.message{
margin-left:10px;
margin-top:10px;
margin-right:10px;
padding:0;
width:192px;
word-wrap: break-word;
color:#545454;
}
.message a{
color:#990000;}


.mr10{
margin-right:10px;}

.input_cell{
/*modified by Ai Hao 2010-07-21*/
/*height:16px;*/
height:18px;
background:url(../screenFiles/bg_input_01.gif) left top repeat-x;
border:#5085b5 1px solid;
padding:2px;
font-size:11px;
font-weight:normal;
}

.bold_cell{

height:18px;
background:url(../screenFiles/bg_input_01.gif) left top repeat-x;
border:#5085b5 1px solid;
padding:0 2px;
font-size:11px;
}

 .output_cell{
/*modified by Ai Hao 2010-07-21*/
/*height:16px;*/
/*remove font-size by LiuFang 2010-7-23 */
height: 18px;
background:#eeeeee;
border:#5085b5 1px solid;
padding:0 2px;
font-weight:normal;
overflow:hidden; /*add it by maxia 2010-7-23*/
/* commented by Ai Hao 2010-07-20
float:left;
*/
}
.output_cell{
	height: 18px;
	background:#eeeeee;
	border:#5085b5 1px solid;
	padding:2px;
	font-size:11px;
	font-weight:normal;
	overflow:hidden; 

}

.icon{
float:left;
}
.mr1{
margin-right:1px;
}
.naviswitch{
margin:0;
padding:0;
}
.blockbottom{
background:url(../screenFiles/block_bg_01.png) left bottom no-repeat;
padding:10px;
}
.blocktop{
background:url(../screenFiles/block_bg_01.png) left top no-repeat;
padding:10px;
}

.table{

background-color:#316494;
margin:0;
/*border-collapse:separate;
*/border-spacing:1px;
}
.table  tr th{
background-color: #316494;
	border:1px #fff solid;
	padding: 3px 12px;
	color:#ffffff;
	font-weight:bold;
	font-size:14px;
	text-align:center;}
.table tr td{
background:#FFFFFF;
padding: 3px 12px;
}
.table tr td a{
color:#4d81b1;}

.table tr.tr1 td{
background:#eeeeee;
padding: 3px 12px;
}
.table tr.currentrow td{
background:#fff799;}

/*Add it for table in polasidebar by Michelle (2010-7-20)*/
.sideBarTable{
position:absolute;
left:17px;
font-weight:bold;
}
/*Page Button*/
.pagebutton{
	position:absolute;
	top:558px;
	left:398px;
	z-index:100;
	width: 393px;
}
.pagebutton ul{
padding:0;
margin:0;
width:420px;
}
.pagebutton ul li{
margin:0;
padding:0;
float:right;
width:84px;}

/*added it for error class by LiuFang 2010-7-24*/
.red{
/*height:16px;*//*regulation validation-funny20100720*/
height:18px;
background:url(../screenFiles/bg_input_02.gif) left top repeat-x;
border:#b55050 1px solid;
padding:2px; /*Modified it for error class by maxia (2010-9-1) */
font-weight:normal;
}

/*the text area style -----add by Francis 2010-8-3*/
.textarea{
background: #edf4f7;
border:1px solid #5085b5;
}
.textarea_output{
border:1px solid #5085b5;
background:#eeeeee;
}
.textareaerror{
background:#f9f1f1;
border:1px solid #b55050;
}
/*the text area style*/
/*submenu-----add by funny 20100723*/
.block{
border:2px #5487b6 solid;
padding:20px 30px;
}
.submenutab{
font-size:14px;
color:#5487b6;
background-color:#eeeeee;
padding:8px;
}
/*submenu*/
.dynamicLabel{
	font-weight: bold;
	color:black;
}

.radio {
	font-size: auto; 
	line-height: auto;
	height:auto;
}

.radioButton {
	font-size: auto; 
	line-height: auto;
	height:auto;
}

.radioButtonSubmenuUIG{
	font-size: auto; 
	line-height: auto;
	height:15px;
}

.fieldsetUIG{
	position:relative; 
	height:60px; 
	width:720px;
	left:20px;
	border:#5487b6 2px solid;
	padding-bottom: 12px;
}

.legendUIG{
	color:#5487b6;
	font-size: 14px; 
	font-weight: bold; 
	font-family: Arial;
}

.hyperlinkInTable{
	color: #7d6842;
	font-weight: bold;
}

.outerDiv{
	position:absolute;
	top:40px;
	left:22px;
}

.iconPos{
	position:relative; 
	align:left; 
	vertical-align:top; 
	z-index:2; 
	height:18px;
	
}

.iconPosSmart{
	position:relative; 
	align:left; 
	vertical-align:middle; 
	z-index:2; 
	height:18px;
}

.tablePos{
	border:#316494 1px solid;
	position: relative; 
}

.tableRowHeader{
	background:#316494; 
	z-index:9; 
	position:relative;
	top:expression(this.parentElement.offsetParent.offsetParent.offsetParent.scrollTop+1);
}
.tableRowHeaderNew{
	
	z-index:9; 
	position:relative;
	top:expression(this.parentElement.offsetParent.offsetParent.offsetParent.scrollTop+1);
}

.tableDataTagFixed{
	z-index:8;
	position:relative;
	left:expression(this.parentElement.offsetParent.offsetParent.offsetParent.scrollLeft);
	border-right: 1px solid #dddddd;
	}

	.tableDataHeaderFixed{
	color:white; 
	font-weight:bold; 
	padding:5px; 
	z-index:8;
	position:relative;
	border-right: 1px thin #dddddd;
	left:expression(this.parentElement.offsetParent.offsetParent.offsetParent.scrollLeft);
	background:#316494;
}

#subfh .tablePos{
	border:#316494 1px solid;
	position: relative; 
}

#subfh .tableTag{
	border:1px; 
}


#subfh .tableDataHeader{
	color:white; 
	font-weight:bold; 
	padding:5px; 
	border-right: 1px thin #dddddd;
	background:#316494; 
}

#subfh .tableDataHeaderNew{
	color:white; 
	font-weight:bold; 
	padding:5px; 
	border-right: 1px thin #dddddd;	
	background:#316494; 
}

#subfh .tableRowTag{
	background:#ededed;  
}

#subfh .tableRowTag.striped{
	background:#FFFFFF;  
}

#subfh .tableDataTag{
	color:#434343;
	font-weight:bold; 
	padding:5px; 
}

.tableColHeaderFixed{
	z-index:8; 
	background:#316494; 
	position:absolute; 
	left:expression(this.parentElement.offsetParent.offsetParent.offsetParent.scrollLeft); 
}

.tableRowHeaderDivFixed{
	z-index:99; 
	border-top: 1px solid #dddddd; 
	background:#316494; 
	position:absolute; 
	left:expression(this.parentElement.offsetParent.offsetParent.offsetParent.scrollLeft); 
}

.tableRowHeaderFixed{
	height: 25px; 
	z-index:9; 
	position:relative; 
	top:expression(this.parentElement.offsetParent.offsetParent.offsetParent.scrollTop);
}
.tableRowHeader{
	background:#316494; 
	z-index:9; 
	position:relative;
	top:expression(this.parentElement.offsetParent.offsetParent.offsetParent.scrollTop+1);
}

.tableDataTagFixed{
	z-index:8;
	position:relative;
	left:expression(this.parentElement.offsetParent.offsetParent.offsetParent.scrollLeft);
	border-right: 1px solid #dddddd;
}

.blank_cell {
	vertical-align: top;
	height:18px;
	font-weight: normal;
	font-family: Arial;
	background-color: #EEEEEE;
	border:#5085b5 1px solid;
	overflow-y:hidden;
	padding-left:2px;
	padding-right:60px;
}

.grayline{
border-top:1 solid #CCCCCC;
}
