@charset "utf-8";

/*Copyright (c) 2006,Yahoo! Inc. All rights reserved. Code licensed under the BSD License: http://developer.yahoo.net/yui/license.txt */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{
margin: 0;
padding: 0;
}
table {
*border-collapse: collapse;
border-spacing: 0;
}
fieldset, img {
border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
font-style: normal;
font-weight: normal;
}
ol, ul, dl{
list-style: none;
}
caption, th  {
/*	text-align: left;*/
}
/*h1, h2, h3, h4, h5, h6 {
font-size: 100%;
font-weight: normal;
}*/
q: before, q: after {
content: '';
}
abbr, acronym  {
border: 0;
}

body {
font-size:12px;
-x-system-font:none;
*font-size: small;
*font: x-small;
}
table  {
font-size: inherit;
font: 100%;
}

pre, code  {
font: 115% monospace;
*font-size: 100%;
}
/*removing
body * {line-height:1.22em;}
*/

/* clearfix ------- */
.clear:after {
display: block;
clear: both;
height: 0;
visibility: hidden;
content: ".";
line-height: 0;
}
.clear {
display: inline-table;
min-height: 1%;
}
/* for macIE \*/
* html .clear {
height: 1%;
}
.clear {
display: block;
}
/* end of for macIE */
