@charset "utf-8";

body{
font-family:宋体;
font-size:12px;
color:#434343;
overflow:hidden;/*Add the atrribute for no scroll by Michelle (2010-7-23)*/
}

select, input, textarea  {
font-size:11px;
/*added by Francis 2010-07-30*/
font-family:宋体;
}
h1{
color:#ffffff;
font-size:16px;
float:left;
}
.navigationlink{
float:right;
color:#FFFFFF;
}
.navigationlink a:link, .navigationlink a:visited, .navigationlink a:active{
color:#FFFFFF;
}
.navigationlink a:hover{
color:#ffff00;
}
.navilink01{
margin-left:5px;
margin-top:5px;
padding:0;
width:180px;
word-wrap: break-word;
}
.navilink01 div{
padding:2px 2px 2px 2px;
color:#4d81b1;
width:200px;
}
.navilink01 .hover{
color:#eeeeee;
background:#4d81b1;
padding:2px 2px 2px 2px;
width:208px;
}

.navilink02 a:link, .navilink02 a:visited, .navilink02 a:active{
color:#e5e5e5;
}
.navilink02 a:hover{
color:#ffff00;
}

/*sectionbutton*/
.sectionbutton {
background: url(../../screenFiles/btn_bg_01.png) no-repeat left top;
display:block;
}

.sectionbutton p {
background:url(../../screenFiles/btn_bg_03.png) no-repeat right top;
}

.sectionbutton a:link, .sectionbutton a:visited, .sectionbutton a:active{
display:block;
line-height:22px;
margin:0px 5px;/* leftbg rightbg */
background:url(../../screenFiles/btn_bg_02.png) repeat-x;
padding:0px 10px;
color:#4d81b1;
text-decoration:none;
}
.sectionbutton a:hover{
display:block;
line-height:22px;
margin:0px 5px;/* leftbg rightbg */
background:url(../../screenFiles/btn_bg_02.png) repeat-x;
padding:0px 10px;
color:#434343;
text-decoration:none;
}

.sectionbtndisable {
background: url(../../screenFiles/btn_bg_04.png) no-repeat left top;
display:block;
}

.sectionbtndisable p {
background:url(../../screenFiles/btn_bg_06.png) no-repeat right top;
}

.sectionbtndisable a{
display:block;
line-height:22px;
margin:0px 5px;/* leftbg rightbg */
background:url(../../screenFiles/btn_bg_05.png) repeat-x;
padding:0px 10px;
color:#c9c9c9;
text-decoration:none;
}

/*sectionbutton*/


/*tab*/
.tabcurrent {
background: url(../../screenFiles/tab_bg_01.png) no-repeat left top;
display:block;
}

.tabcurrent p {
background:url(../../screenFiles/tab_bg_03.png) no-repeat right top;
}

.tabcurrent a:link, .tabcurrent a:visited, .tabcurrent a:hover, .tabcurrent a:active{
display:block;
height:26px;/* modify by funny 20100730 */
margin:0px 15px 0px 8px;/* modify by funny 20100722 */
background:url(../../screenFiles/tab_bg_02.png) repeat-x;
padding:5px 3px 0px 10px;/* modify by funny 20100730 */
color:#434343;
text-decoration:none;
font-size:12px;/* modify by funny 20100722 */
line-height:18px;/* modify by funny 20100730 */
}
.tab {
background: url(../../screenFiles/tab_bg_04.png) no-repeat left top;
display:block;
}

.tab p {
background:url(../../screenFiles/tab_bg_06.png) no-repeat right top;
}

.tab a:link, .tab a:visited, .tab a:active{
display:block;
height:26px;/* modify by funny 20100730 */
margin:0px 15px 0px 8px;/* modify by funny 20100722 */
background:url(../../screenFiles/tab_bg_05.png) repeat-x;
padding:5px 3px 0px 10px;/* modify by funny 20100730 */
color:#434343;
text-decoration:none;
font-size:12px;/* modify by funny 20100722 */
line-height:18px;/* modify by funny 20100730 */
}
.tab a:hover{
display:block;
height:26px;/* modify by funny 20100730 */
margin:0px 15px 0px 8px;/* modify by funny 20100722 */
background:url(../../screenFiles/tab_bg_05.png) repeat-x;
padding:5px 3px 0px 10px;/* modify by funny 20100730 */
color:#434343;
text-decoration:none;
}
.tabcontent{
width:750px;	/*modified by Ai Hao 2010-07-20*/
background:#c7d8e7;
padding:5px;}
/* modify by funny 20100722 */
.tabcurrenterror {
background: url(../../screenFiles/tab_bg_01.png) no-repeat left top;
display:block;
}

.tabcurrenterror p {
background:url(../../screenFiles/tab_bg_07.png) no-repeat right top;
}

.tabcurrenterror a:link, .tabcurrenterror a:visited, .tabcurrenterror a:hover, .tabcurrenterror a:active{
display:block;
height:26px;/* modify by funny 20100730 */
margin:0px 15px 0px 8px;/* modify by funny 20100722 */
background:url(../../screenFiles/tab_bg_02.png) repeat-x;
padding:5px 3px 0px 10px;/* modify by funny 20100730 */
color:#434343;
text-decoration:none;
font-size:12px;/* modify by funny 20100722 */
line-height:18px;/* modify by funny 20100730 */
}

.taberror {
background: url(../../screenFiles/tab_bg_04.png) no-repeat left top;
display:block;
}

.taberror p {
background:url(../../screenFiles/tab_bg_08.png) no-repeat right top;
}

.taberror a:link, .taberror a:visited, .taberror a:active{
display:block;
height:26px;/* modify by funny 20100730 */
margin:0px 15px 0px 8px;/* modify by funny 20100722 */
background:url(../../screenFiles/tab_bg_05.png) repeat-x;
padding:5px 3px 0px 10px;/* modify by funny 20100730 */
color:#434343;
text-decoration:none;
font-size:12px;/* modify by funny 20100722 */
line-height:18px;/* modify by funny 20100730 */
}
.taberror a:hover{
display:block;
height:26px;/* modify by funny 20100730 */
margin:0px 15px 0px 8px;/* modify by funny 20100722 */
background:url(../../screenFiles/tab_bg_05.png) repeat-x;
padding:5px 3px 0px 10px;/* modify by funny 20100730 */
color:#434343;
text-decoration:none;
}
/* modify by funny 20100722 */
/*tab*/

.more{
background: url(../../screenFiles/more_bg.png) left top no-repeat;
text-align:center;
padding-top:5px;
width:86px;
height:23px;
}
.more a:link, .more a:visited, .more a:active{
color:#4d81b1;}
.more a:hover{
color:#434343;
}
.more_disable{
background: url(../../screenFiles/more_bg.png) left top no-repeat;
text-align:center;
padding-top:5px;
width:86px;
height:23px;
color:#a0a0a0;
}


.pagebtn01{
z-index:90;
	position:absolute;
	left:642px;
	top:557px;
}
.pagebtn02{
z-index:80;
position:absolute;
left:556px;
top:557px;}
.pagebtn03{
z-index:70;
position:absolute;
left:469px;
top:557px;}
.pagebtn04{
z-index:60;
position:absolute;
left:379px;
top:557px;}
.pop{
border:#5085b5 1px solid;
padding:1px;
margin:0;
background:#eeeeee;
}
.poptitle{
background:#5085b5;
height:25px;
color:#FFFFFF;
font-size:14px;
font-weight:bold;
padding:5px 0 0 10px;} 
.popcontent{
padding:10px;}

.mainlink{
}
.mainlink a:link, .mainlink a:visited, .mainlink a:active{
color:#aa6e01;
cursor:pointer;
text-decoration:underline;
}
.mainlink a:hover{
color:#7d6842;
cursor:pointer;
text-decoration:none;
}
/*Modified by Francis 2010-7-30*/
.input_cell, .output_cell, .textarea, .textarea_output{
padding:2px;/*modify by liufang 20100826*/
font-family:宋体;
font-size:12px;/*Modified by LiuFang 2010-7-27*/
}

/*added by Ai Hao 2010-07-21*/
.label_txt{
	border: none;
	background: transparent;
}

/*added it for error class by LiuFang 2010-7-24*/
.red{
/*padding:2px 0 0 2px; remove it for error class by maxia 2010-9-1*/
font-size:12px;
/*added it for the level of background style is the highest by maxia 2010-7-31*/
background:url(../../screenFiles/bg_input_02.gif) left top repeat-x;
}

/*added it for some style of hyperlink by maxia 2010-7-26*/
.mainlink{
}
.mainlink a:link, .mainlink a:visited, .mainlink a:active{
color:#aa6e01;
cursor:pointer;
text-decoration:underline;
}
.mainlink a:hover{
color:#7d6842;
cursor:pointer;
text-decoration:none;
}