#header {
	float: left;
	width: 100%;
	font-size: 100%;
	line-height: normal;
}

#header ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#header li {
	float: left;
	background: url(../../screenFiles/tab_on.gif) no-repeat left bottom;
	/*border:solid 1px #8EA2C2;*/
	margin: 0px 0px;
	/*width: 150px;*/
	height: 25px;
	padding: 5px;
	width: 139px;
	cursor: hand;
	color: #ffffff;
}

#header li:hover {
	color: #000000;
}

#header .current {
	float: left;
	/*background:#DCE1EF;*/ /*background-color: #E1E9F8;*/
	background: url(../../screenFiles/tab_normal.png) no-repeat left bottom;
	/*border:solid 1px #8EA2C2;*/
	margin: 0px 0px;
	/*width: 150px;*/
	height: 25px;
	/* margin-left:2px;*/
	padding: 5px;
}

#header .current_error {
	float: left;
	/*background:#DCE1EF;*/ /*background-color: #E1E9F8;*/
	background: url(../../screenFiles/tab_normal_error.png) no-repeat left
		bottom;
	/*border:solid 1px #8EA2C2;*/
	margin: 0px 0px;
	/*width: 150px;*/
	height: 25px;
	/* margin-left:2px;*/
	padding: 5px;
}

#header .normal_error {
	float: left;
	background: url(../../screenFiles/tab_on_error.gif) no-repeat left
		bottom;
	/*border:solid 1px #8EA2C2;*/
	margin: 0px 0px;
	/*width: 150px;*/
	height: 25px;
	padding: 5px;
	width: 139px;
}