@charset "utf-8";

@charset "utf-8";

/*Copyright (c) 2006,Yahoo! Inc. All rights reserved. Code licensed under the BSD License: http://developer.yahoo.net/yui/license.txt */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0;
}

table {
	border-spacing: 0;
	border-spacing: 4.3px\9\0;/*IGroup-1086, eg S2465-sv.natlty*/	
}

fieldset,img {
	border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

ol,ul,dl {
	list-style: none;
}

caption,th { /*	text-align: left;*/
	
}
/*h1, h2, h3, h4, h5, h6 {
font-size: 100%;
font-weight: normal;
}*/
q: before,q: after {
	content: '';
}

abbr,acronym {
	border: 0;
}

body {
	font-size: 12px;
	-x-system-font: none;
	*font-size: small;
	*font: x-small;
}

table {
	font-size: inherit;
	font: 100%;
}

pre,code {
	font: 115% monospace;
	*font-size: 100%;
}
/*removing
body * {line-height:1.22em;}
*/

/* clearfix ------- */
.clear:after {
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	content: ".";
	line-height: 0;
}

.clear {
	display: inline-table;
	min-height: 1%;
}
/* for macIE \*/
* html .clear {
	height: 1%;
}

.clear {
	display: block;
}
/* end of for macIE */
@charset "utf-8";

a:link,a:visited,a:hover,a:active {
	text-decoration: none;
}

.sidearea {
	padding: 5px;
	width: 219px;
}

.sidebararea {
	margin-top: 5px;
	width: 219px;
	line-height: 18px;
}

.sidebarbg {
	border-top: #4d81b1 1px solid;
	border-left: #4d81b1 1px solid;
	border-right: #4d81b1 1px solid;
	padding-top: 1px;
	padding-left: 1px;
	padding-right: 1px;
	background: #eeeeee;
	height: 200px;
	z-index: 5;
}

.sidebararea .title {
	background: url(../../screenFiles/bg_title_001.gif) left top no-repeat;
}

.mainarea { /*remove margin-top for new style by LiuFang(2010-7-20)*/
	/*margin-top:5px;*/
	width: 786px;
	width: 788px\9; /*add IGroup-937 yzhong4 */
	width: 786px\9\0;/*add IGroup-1086 for IE10 by xma3*/
	border-left: #4d81b1 1px solid;
	border-top: #4d81b1 1px solid;
	border-right: #4d81b1 1px solid;
	/*padding: 1px;*//*remove  IGroup-937 yzhong4*/
	background-color: #eeeeee;
	height: 565px;
}

.header {
	background: url(../../screenFiles/bg_title_001.gif) left top no-repeat;
	/*padding: 5px 5px 5px 15px;*//*remove  IGroup-937 yzhong4*/
	background-repeat: repeat-x;
}

.mainscreen {
	height: 542px;	
	width:inherit;/*add IFSU-285 xma3 */
	width:100%\9;/*add IFSU-285 xma3 */
	width:786px\9\0;/*add IGroup-1086 for IE10 by xma3 */
	/*padding: 8px 9px 0 9px;*//*remove  IGroup-937 yzhong4*/
}

.systemmenu {
	height: 512px;
	font-weight: bold; /*add it for new style by LiuFang(2010-7-20)*/
}

.sideextrainfo {
	/*Ticket IGroup-937 modified it for exta info is more, the height is small  xma3*/
	height: auto !important; /*IGroup-1086*/
	min-height: 255px;
	font-weight: bold; /*add it for new style by LiuFang(2010-7-20)*/
	/*IGroup-1086*/
	height:255px;
}

.sidemainmenu {
	height: 344px;
	font-weight: bold;
}

.sidefunction {
	height: 140px;
	font-weight: bold; /*add it for new style by LiuFang(2010-7-20)*/
}

.sidemessage {
	height: 120px;
	font-weight: bold;
}

.mastermenu {
	width: 160px;
	background: #4d81b1;
	padding: 10px 10px 0 10px;
	word-wrap: break-word;
	font-weight: bold; /*add it for new style by LiuFang(2010-7-20)*/
}

.sidebar {
	margin-left: 30px;
	margin-top: 5px;
	padding: 0;
	width: 180px;
	word-wrap: break-word;
	/*line-height:18px;
*/
}

.sidebar a:link,.sidebar a:visited,.sidebar a:active {
	color: #4d81b1;
}

.sidebar a:hover {
	color: #434343;
}

.message {
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	padding: 0;
	width: 192px;
	word-wrap: break-word;
	color: #545454;
}

.message a {
	color: #990000;
}

.mr10 {
	margin-right: 10px;
}

.input_cell { /*modified by Ai Hao 2010-07-21*/
	/*height:16px;*/
	height: 18px;
	background: url(../../screenFiles/bg_input_01.gif) left top repeat-x;
	border: #5085b5 1px solid;
	padding: 2px;
	font-size: 11px;
	font-weight: normal;
}

.bold_cell {
	height: 18px;
	background: url(../../screenFiles/bg_input_01.gif) left top repeat-x;
	border: #5085b5 1px solid;
	/* padding: 0 2px; */
	font-size: 11px;
}

.output_cell { /*modified by Ai Hao 2010-07-21*/
	/*height:16px;*/
	/*remove font-size by LiuFang 2010-7-23 */
	height: 18px;
	background: #eeeeee;
	border: #5085b5 1px solid;
	padding: 0 2px;
	font-weight: normal;
	overflow: hidden; /*add it by maxia 2010-7-23*/
	/* commented by Ai Hao 2010-07-20
float:left;
*/
}
/*Ticket IFSU-285 added for select control xma3*/
.output_cell {
	font-size: 11px;
	font-weight: normal;
	overflow: hidden;
	background: #eeeeee;
	border: #5085b5 1px solid;
	padding: 2px 2px 0px 2px;
	height: 14px;
	display: inline-block;
	padding-bottom: 2px\9;
	height: 18px\9;
	height: 12px\9\0; 	/*IGroup-1086 fix the height issue for IE10*/	
	display:inline\9;
}

/*IGroup-1086 added for read-only input*/
input.output_cell{height: 18px;}

.icon {
	float: left;
}

.mr1 {
	margin-right: 1px;
}

.naviswitch {
	margin: 0;
	padding: 0;
}

.blockbottom {
	background: url(../../screenFiles/block_bg_01.png) left bottom no-repeat;
	padding: 10px;
}

.blocktop {
	background: url(../../screenFiles/block_bg_01.png) left top no-repeat;
	padding: 10px;
}

.table {
	background-color: #316494;
	margin: 0;
	/*border-collapse:separate;
*/
	border-spacing: 1px;
}

.table  tr th {
	background-color: #316494;
	border: 1px #fff solid;
	padding: 3px 12px;
	color: #ffffff;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}

.table tr td {
	background: #FFFFFF;
	padding: 3px 12px;
}

.table tr td a {
	color: #4d81b1;
}

.table tr.tr1 td {
	background: #eeeeee;
	padding: 3px 12px;
}

.table tr.currentrow td {
	background: #fff799;
}

/*Add it for table in polasidebar by Michelle (2010-7-20)*/
.sideBarTable {
	position: absolute;
	left: 17px;
	font-weight: bold;
}
/*Page Button*/
.pagebutton {
	position: absolute;
	top: 548px;
	left: 398px;
	z-index: 100;
	width: 393px;
}

.pagebutton ul {
	padding: 0;
	margin: 0;
	width: 420px;
}

.pagebutton ul li {
	margin: 0;
	padding: 0;
	float: right;
	width: 84px;
}

/*added it for error class by LiuFang 2010-7-24*/
.red { /*height:16px;*/ /*regulation validation-funny20100720*/
	height: 18px;
	background: url(../../screenFiles/bg_input_02.gif) left top repeat-x;
	border: #b55050 1px solid;
	padding: 2px; /*Modified it for error class by maxia (2010-9-1) */
	font-weight: normal;
}

/*the text area style -----add by Francis 2010-8-3*/
.textarea {
	background: #edf4f7;
	border: 1px solid #5085b5;
}

.textarea_output {
	border: 1px solid #5085b5;
	background: #eeeeee;
}

.textareaerror {
	background: #f9f1f1;
	border: 1px solid #b55050;
}
/*the text area style*/
/*submenu-----add by funny 20100723*/
.block {
	border: 2px #5487b6 solid;
	/*padding: 20px 30px;*//*remove  IGroup-937 yzhong4*/
}

.submenutab {
	font-size: 14px;
	color: #5487b6;
	background-color: #eeeeee;
	padding: 8px;
}
/*submenu*/
.dynamicLabel {
	font-weight: bold;
	color: black;
}

.radio {
	font-size: auto;
	line-height: auto;
	height: auto;
}

.radioButton {
	font-size: auto;
	line-height: auto;
	height: auto;
}

.radioButtonSubmenuUIG {
	font-size: auto;
	line-height: auto;
	height: 15px;
}

.fieldsetUIG {
	position: relative;
	height: auto;/*modify  IGroup-937 xma3*/
	width: 720px;
	left: 20px;
	border: #5487b6 2px solid;
	padding-bottom: 12px;
}

.legendUIG {
	color: #5487b6;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial;
	margin-left:8px;/*modify  IGroup-937 yzhong4*/
}

.hyperlinkInTable {
	color: #7d6842;
	font-weight: bold;
}

.outerDiv {
	position: absolute;
	top: 40px;
	left: 22px;
}

.iconPos {
	position: relative;
	align: left;
	vertical-align: bottom !important;
	z-index: 2;
	height: 18px;
}

.iconPosSmart {
	position: relative;
	align: left;
	vertical-align: middle;
	z-index: 2;
	height: 18px;
}

.tablePos {
	border: #316494 1px solid;
	position: relative;
}

.tableRowHeader {
	background: #316494;
	z-index: 9;
	position: relative;
	top: expression(this.parentElement.offsetParent.offsetParent.offsetParent.scrollTop
		+1);
}

.tableRowHeaderNew {
	z-index: 9;
	position: relative;
	top: expression(this.parentElement.offsetParent.offsetParent.offsetParent.scrollTop
		+1);
}

.tableDataTagFixed {
	z-index: 8;
	position: relative;
	left: expression(this.parentElement.offsetParent.offsetParent.offsetParent.scrollLeft
		);
	border-right: 1px solid #dddddd;
}

.tableDataHeaderFixed {
	color: white;
	font-weight: bold;
	padding: 5px;
	z-index: 8;
	position: relative;
	border-right: 1px thin #dddddd;
	left: expression(this.parentElement.offsetParent.offsetParent.offsetParent.scrollLeft
		);
	background: #316494;
}

#subfh .tablePos {
	border: #316494 1px solid;
	position: relative;
}

#subfh .tableTag {
	border: 1px;
}

#subfh .tableDataHeader {
	color: white;
	font-weight: bold;
	padding: 5px;
	border-right: 1px thin #dddddd;
	background: #316494;
}

#subfh .tableDataHeaderNew {
	color: white;
	font-weight: bold;
	padding: 5px;
	border-right: 1px thin #dddddd;
	background: #316494;
}

#subfh .tableRowTag {
	background: #ededed;
}

#subfh .tableRowTag.striped {
	background: #FFFFFF;
}

#subfh .tableDataTag {
	color: #434343;
	font-weight: bold;
	padding: 5px;
}

.tableColHeaderFixed {
	z-index: 8;
	background: #316494;
	position: absolute;
	left: expression(this.parentElement.offsetParent.offsetParent.offsetParent.scrollLeft
		);
}

.tableRowHeaderDivFixed {
	z-index: 99;
	border-top: 1px solid #dddddd;
	background: #316494;
	position: absolute;
	left: expression(this.parentElement.offsetParent.offsetParent.offsetParent.scrollLeft
		);
}

.tableRowHeaderFixed {
	height: 25px;
	z-index: 9;
	position: relative;
	top: expression(this.parentElement.offsetParent.offsetParent.offsetParent.scrollTop
		);
}

.tableRowHeader {
	background: #316494;
	z-index: 9;
	position: relative;
	top: expression(this.parentElement.offsetParent.offsetParent.offsetParent.scrollTop
		+1);
}

.tableDataTagFixed {
	z-index: 8;
	position: relative;
	left: expression(this.parentElement.offsetParent.offsetParent.offsetParent.scrollLeft
		);
	border-right: 1px solid #dddddd;
}
/*Ticket IFSU-285 added for select control zhong*/
.blank_cell {
	vertical-align: top;
	font-weight: normal;
	font-family: Arial;
	background-color: #EEEEEE;
	border: #5085b5 1px solid;
	overflow-y: hidden;
	padding-left: 2px;
	padding-right: 60px;
	display:inline-block;
	height: 16px;
	display:inline\9;
	height: 18px\9;
	height: 16px\9\0; 	/*IGroup-1086 fix the height issue for IE10*/	
}

/*Ticket IGroup-1086 added for select control zhong*/
.blank_cell_width {
	vertical-align: top;	
	font-weight: normal;
	font-family: Arial;
	background-color: #EEEEEE;
	border: #5085b5 1px solid;
	overflow-y: hidden;
	padding-left: 2px;
	padding-right: 2px;
	display:inline-block;
	height: 16px;
	display:inline\9;
	height: 18px\9;
	height: 16px\9\0; 	/*IGroup-1086 fix the height issue for IE10*/
}

/*Ticket IFSU-285 added for select control xma3*/
.grayline {
	border-top: 1px solid #CCCCCC;
	display:inline-block;
	display:inline\9;
}

@charset "utf-8";

body {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #434343;
	overflow: hidden;
	/*Add the atrribute for no scroll by Michelle (2010-7-20)*/
}

select,input,textarea {
	font-size: 11px;
	/*added by Francis 2010-07-30*/
	font-family: Arial;
}

h1 {
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	float: left;
}

.navigationlink {
	float: right;
	color: #FFFFFF;
}

.navigationlink a:link,.navigationlink a:visited,.navigationlink a:active
	{
	color: #FFFFFF;
}

.navigationlink a:hover {
	color: #ffff00;
}

.navilink01 {
	margin-left: 5px;
	margin-top: 5px;
	padding: 0;
	width: 180px;
	word-wrap: break-word;
	/*line-height:18px;
*/
}

.navilink01 div {
	padding: 2px 2px 2px 2px;
	color: #4d81b1;
	width: 200px;
}

.navilink01 .hover {
	color: #eeeeee;
	background: #4d81b1;
	padding: 2px 2px 2px 2px;
	width: 208px;
}

.navilink02 a:link,.navilink02 a:visited,.navilink02 a:active {
	color: #e5e5e5;
}

.navilink02 a:hover {
	color: #ffff00;
}

/*sectionbutton*/
.sectionbutton {
	background: url(../../screenFiles/btn_bg_01.png) no-repeat left top;
	display: block;
	font-weight: bold;
}

.sectionbutton p {
	background: url(../../screenFiles/btn_bg_03.png) no-repeat right top;
}

.sectionbutton a:link,.sectionbutton a:visited,.sectionbutton a:active {
	display: block;
	line-height: 22px;
	margin: 0px 5px; /* leftbg rightbg */
	background: url(../../screenFiles/btn_bg_02.png) repeat-x;
	padding: 0px 10px;
	color: #4d81b1;
	text-decoration: none;
}

.sectionbutton a:hover {
	display: block;
	line-height: 22px;
	margin: 0px 5px; /* leftbg rightbg */
	background: url(../../screenFiles/btn_bg_02.png) repeat-x;
	padding: 0px 10px;
	color: #434343;
	text-decoration: none;
}

.sectionbtndisable {
	background: url(../../screenFiles/btn_bg_04.png) no-repeat left top;
	display: block;
	text-decoration: none;
	font-weight: bold;
}

.sectionbtndisable p {
	background: url(../../screenFiles/btn_bg_06.png) no-repeat right top;
}

.sectionbtndisable a:link,.sectionbtndisable a:visited,.sectionbtndisable a:active,.sectionbtndisable a:hover  {
	display: block;
	line-height: 22px;
	margin: 0px 5px; /* leftbg rightbg */
	background: url(../../screenFiles/btn_bg_05.png) repeat-x;
	padding: 0px 10px;
	color: #c9c9c9;
	text-decoration: none;
}

/*sectionbutton*/

/*tab*/
.tabheader {
	margin-left: -2px\9;/*modify  IGroup-937 yzhong4*/
	margin-left:0px\9\0; /*IGroup-1086 for IE10*/	
	position: relative;
	height:28px;
}

.tabcurrent {
	background: url(../../screenFiles/tab_bg_01.png) no-repeat left top;
	display: block; /*added by Ai Hao 2010-07-20*/
	margin-right: 5px;
}

.tabcurrent p {
	background: url(../../screenFiles/tab_bg_03.png) no-repeat right top;
}

.tabcurrent a:link,.tabcurrent a:visited,.tabcurrent a:hover,.tabcurrent a:active
	{
	display: block;
	height: 26px;
	margin: 0px 15px 0px 8px; /* modify by funny 20100722 */
	background: url(../../screenFiles/tab_bg_02.png) repeat-x;
	padding: 5px 3px 0px 10px; /* modify by funny 20100722 */
	color: #434343;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px; /* modify by funny 20100722 */
}

.tab {
	background: url(../../screenFiles/tab_bg_04.png) no-repeat left top;
	display: block; /*added by Ai Hao 2010-07-20*/
	margin-right: 5px;
}

.tab p {
	background: url(../../screenFiles/tab_bg_06.png) no-repeat right top;
}

.tab a:link,.tab a:visited,.tab a:active {
	display: block;
	height: 26px; /*modified by Ai Hao 2010-07-20*/
	margin: 0px 15px 0px 8px; /* modify by funny 20100722 */
	background: url(../../screenFiles/tab_bg_05.png) repeat-x;
	padding: 5px 3px 0px 10px; /* modify by funny 20100722 */
	color: #316494;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px; /* modify by funny 20100722 */
}

.tab a:hover {
	display: block;
	height: 26px; /*modified by Ai Hao 2010-07-20*/
	margin: 0px 15px 0px 8px; /* modify by funny 20100722 */
	background: url(../../screenFiles/tab_bg_05.png) repeat-x;
	padding: 5px 3px 0px 10px; /* modify by funny 20100722 */
	color: #434343;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px; /* modify by funny 20100722 */
}

.tabcontent {
	width: 750px; /*modified by Ai Hao 2010-07-20*/
	background: #c7d8e7;
	padding: 5px;
	margin-top: -2px;
	float:left;/*added  IGroup-937 yzhong4*/
}

/* modify by funny 20100722 */
.tabcurrenterror {
	background: url(../../screenFiles/tab_bg_01.png) no-repeat left top;
	display: block;
	margin-right: 5px; /*IGroup-1086 Put spaces between tabs with error icons*/	
}

.tabcurrenterror p {
	background: url(../../screenFiles/tab_bg_07.png) no-repeat right top;
}

.tabcurrenterror a:link,.tabcurrenterror a:visited,.tabcurrenterror a:hover,.tabcurrenterror a:active
	{
	display: block;
	height: 26px;
	margin: 0px 15px 0px 8px;
	background: url(../../screenFiles/tab_bg_02.png) repeat-x;
	padding: 5px 3px 0px 10px; /
	color: #434343;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}

.taberror {
	background: url(../../screenFiles/tab_bg_04.png) no-repeat left top;
	display: block;
	margin-right: 5px; /*IGroup-1086 Put spaces between tabs with error icons*/
}

.taberror p {
	background: url(../../screenFiles/tab_bg_08.png) no-repeat right top;
}

.taberror a:link,.taberror a:visited,.taberror a:active {
	display: block;
	height: 26px;
	margin: 0px 15px 0px 8px;
	background: url(../../screenFiles/tab_bg_05.png) repeat-x;
	padding: 5px 3px 0px 10px;
	color: #316494;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
}

.taberror a:hover {
	display: block;
	height: 26px;
	margin: 0px 15px 0px 8px;
	background: url(../../screenFiles/tab_bg_05.png) repeat-x;
	padding: 5px 3px 0px 10px;
	color: #434343;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
}
/* modify by funny 20100722 */
/*tab*/
.more {
	background: url(../../screenFiles/more_bg.png) left top no-repeat;
	text-align: center;
	padding-top: 5px;
	width: 86px;
	height: 23px;
}

.more a:link,.more a:visited,.more a:active {
	color: #4d81b1;
}

.more a:hover {
	color: #434343;
}

/*added by Ai Hao 2010-07-20*/
.label_txt {
	border: none;
	background: transparent;
	font-weight: bold;
}
/*added by LiuFang 2010-7-23*/
.output_cell {
	font-size: 11px;
}
/*added it for error class by LiuFang 2010-7-24*/
.red {
	font-size: 11px;
	/*added it for the level of background style is the highest by maxia 2010-7-31*/
	background: url(../../screenFiles/bg_input_02.gif) left top repeat-x;
}
/*added it for some style of hyperlink by maxia 2010-7-26*/
.mainlink {
	font-style: italic;
	font-weight: bold;
}

.mainlink a:link,.mainlink a:visited,.mainlink a:active {
	color: #aa6e01;
	cursor: pointer;
	text-decoration: underline;
}

.mainlink a:hover {
	color: #7d6842;
	cursor: pointer;
	text-decoration: none;
}
/*Added it for popup windown by maxia(2010-08-03)*/
.pop {
	border: #5085b5 1px solid;
	padding: 1px;
	margin: 0;
	background: #eeeeee;
}

.poptitle {
	background: #5085b5;
	height: 25px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0 0 10px;
}

.popcontent {
	padding: 10px;
}

.title {
	background: url(../../screenFiles/bg_title_001.gif) left top no-repeat;
	background-repeat: repeat-x;
}
/*Ticket IFSU-285 added for canledar xma3*/
.disabledCanlendar{
margin-left:1px;	
}
/*Ticket IFSU-285 added for select control xma3*/
.redSelect{	
	display:table-cell;	
	border-style: solid; 	
	border-color: #B55050;	
	border-width:0px; 
	border-width:1px\9; 
}
.redSelect select{
	border-color: #B55050;
}
/*Ticket IGROUP-1018 Error field not highlighted in red when cloning policy.(apply code fixed #IPNC-1914)*/
.redDropdown{
 border:none;
 border:1px\9; 
 border-style: solid\9; 
 border-color: #B55050\9;
}

.redDropdown select{
 border:1px; 
 border-style: solid; 
 border-color: #B55050;
}

}