/* Author: Ai Hao 2010-7-19 */
#container {
	position: absolute;
	border: 1px solid #316494;
	overflow: hidden;
	display:block; /*IGroup-937 for non-IE8 browser, supertable in the tab*/
}

.sBase {
	position: absolute; /*IGroup-937 in Firefox etc can't display well, change relative to absolute*/
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #dcdcdc;
}

/* HEADERS */
.sHeader {
	position: absolute;
	z-index: 3;
}

.sHeaderInner {
	position: relative;
}

.sHeaderInner table {
	border-spacing: 0px 0px !important;
	border-collapse: collapse !important;
	width: 1px !important;
	table-layout: fixed !important;
}

/* HEADERS - FIXED */
.sFHeader {
	position: absolute;
	z-index: 4;
	overflow: hidden;
}

.sFHeader table {
	border-spacing: 0px 0px !important;
	border-collapse: collapse !important;
	width: 1px !important;
	table-layout: fixed !important;
}

/*LEFT-BOTTOM COVER*/
.bottomCover {
	position: absolute;
	z-index: 5;
	left: 0px;
	background-color: #DDDDDD;
}

/*RIGHT-TOP COVER*/
.topCover {
	position: absolute;
	z-index: 5;
	top: 0px;
	width: 20px;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: #dddddd 1px solid;
	background-color: #316494;
}

/* BODY */
.sData {
	position: absolute;
	z-index: 2;
	overflow-y: scroll;
	background-color: #dcdcdc;
}

.sData table {
	border-spacing: 0px 0px !important;
	border-collapse: collapse !important;
	width: 1px !important;
	table-layout: fixed !important;
}

/* BODY - FIXED */
.sFData {
	position: absolute;
	z-index: 1;
	overflow: hidden;
	background-color: #dcdcdc;
}

.sFDataInner {
	position: relative;
	overflow: auto;
}

.sFData table {
	border-spacing: 0px 0px !important;
	border-collapse: collapse !important;
	width: 1px !important;
	table-layout: fixed !important;
}

/*Row Color*/
.oddLineBg {
	background: #FFFFFF;
}

.evenLineBg {
	background: #EEEEEE;
}

.sSky {
	margin: 0px;
	padding: 0px;
	border: none;
}

/* Change padding top of sSky td from 3px to 2px to fix the last row style */
.sSky th,.sSky td {
	border: 1px #DDDDDD solid;
	padding: 2px 2px 0px 2px; /* modified  IGroup-937 yzhong4*/
	/*white-space: nowrap\9;*/ /*IGroup-937 hai2 modified css hack for IE*/
	font-weight: bold;
	font-size: 11px;
	font-family: Arial;
	@media \0screen\,screen\9{white-space: nowrap}; /* auto wrap for IE10*/		
}

.sSky th {
	font-size: 12px;
	color: white;
	background-color: #316494;
}

.sSky-Fixed {
	background-color: #DDDDDD;
}

/*Link style in the table 2010-07-20*/
.sSky td a div {
	color: #316494;
	font-weight: bold;
	font-style: italic;
	cursor: pointer;
	border: 0px;
}

.sSky td a:hover div {
	color: #316494;
}

/*Make text in the div nowrap 2010-07-20*/
.sSky td div {
	white-space: nowrap;
}

/* More button */
.more {
	background: url(../../screenFiles/more_bg.png) left top no-repeat;
	text-align: center;
	padding-top: 5px;
	width: 86px;
	height: 23px;
	font-weight: bold;
}

.more_disable {
	background: url(../../screenFiles/more_bg.png) left top no-repeat;
	text-align: center;
	padding-top: 5px;
	width: 86px;
	/*height: 23px;*/	/*IGroup-1086*/
	color: #a0a0a0;
	font-weight: bold;
	display:inline-block;/*Ticket IGroup-937 for Chrome,Firefox by xma3*/
	height:19px;/*Ticket IGroup-937 for Chrome,Firefox by xma3*/
	height: 23px\9;/*Ticket IGroup-937 for IE by xma3*/
	height: 18px\9\0;/*Ticket IGroup-1086 for IE10 by xma3*/
	margin-left: 5px\9\0;/*Ticket IGroup-1086 for IE10 by xma3*/	
}

.more a:link,.more a:visited,.more a:active {
	color: #4d81b1;
}

.more a:hover {
	color: #434343;
}